@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
:root {
  --primary-color: #000;
  --white: #fff;
  --primary-font: "Nunito", sans-serif;
}
.wc-proceed-to-checkout {
  margin-top: 15px;
}
.checkout-button {
  margin-bottom: 15px;
}

#arrow {
  text-align: left;
  line-height: 25px;
  font-family: var(--primary-font);
  box-sizing: border-box;
  background-color: transparent;
  transition-duration: 0.4s;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none !important;
  margin-right: auto !important;
  margin-left: auto !important;
  display: flex;
}

#arrow-btn {
  border-radius: 8px;
  background: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  width: 180px;
  align-items: center !important;
  height: 45px !important;
  &:focus {
    outline: none;
  }
  img {
    margin-left: 5px;
  }
}

#arrow-checkout-billing-button {
  p {
    font-size: 14px;
    text-align: center;
    margin: 30px 0;
    span {
      background: #fff;
      padding: 0 10px;
    }
    &.line {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 0;
    }
  }
}
.arrow-container {
  border: 1px solid #000;
  border-top: none;
  padding: 1em;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.wc_payment_methods {
   display: none;
}

.checkout-with-arrow {
  #arrow-checkout {
    clear: both;
  }
}

.arrow-express-checkout-container {
  #arrow-btn {
    display:flex; align-items:center;  width: 100%;
  }
  
  .card-names {
    display:flex; align-items:center; justify-content: space-evenly; width: 100%;
  }
}

.widget_shopping_cart {
  .arrow-express-checkout-container {
    .card-names {
      display: none;
    }
  }
}

#payment .wc_payment_method.payment_method_arrow img {
  height: 1em;
  width: auto;
  margin-right: 5px !important;
}